* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/* Styles for Navbar Page */

body { overflow-x: hidden; }

.nav-cont {
  background-color: rgba(255, 107, 107, 1);
  position: fixed;
  width: 100%;
  max-height: 13%;
  height: 13%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.logo {
  display: inline-flex;
  position: fixed;
  left: 1%;
  top: 1%;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.logo a {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: larger;
  color: #fff;
  margin: 0 .5rem;
}

.logo a:hover { color: #333; }

.menu, .close {
  position: fixed;
  right: 1%;
  top: 3%;
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
  transition: .75s cubic-bezier(0.23, 1, 0.320, 1);
}

.menu:hover, .close:hover {
  transform: translateY(-5%);
  color: #333;
}

nav {
  position: fixed;
  right: 5%;
  top: 4%;
}

nav a {
  font-size: larger;
  margin: 0 .5rem;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  color: #fff;
  text-transform: uppercase;
  transition: .75s cubic-bezier(0.23, 1, 0.320, 1);
}

nav a:hover {
  color: #333;
  text-decoration: underline overline;
  text-underline-offset: 5px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(150%, 0%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

nav.show {
  animation: fade-in .7s cubic-bezier(0.23, 1, 0.320, 1);
}

/* Responsive Navbar */

@media (max-width: 800px) {
  nav {
    position: fixed;
    top: 13%;
    right: 0%;
    background-color: rgba(255, 107, 107, 1);
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    width: 50%; height: 100%;
  }
  nav a {
    margin: 1rem 0;
  }
}

@media (max-width: 650px) {
  nav {
    width: 80%;
  }
}

/* End of styles for Navbar Page */

/* Styles for the Home Page */

.home-cont {
  width: 100%;
  height: 100%;
  background-color: #D3D3D3;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 4.4rem 0 0 0;
}

.home-cont .hero img {
  width: 100%;
  height: 100vh;
  object-position: center;
  object-fit: cover;
}

.home-cont .home-content h1 {
  font-size: xx-large;
  text-transform: capitalize;
  text-decoration: none;
  padding: .4rem;
  letter-spacing: 1.3px;
  font-family: "Playfair Display", serif;
}

.home-cont .home-content h3 {padding: .4rem; font-family: "Montserrat", serif; letter-spacing: 1.3px;}

.home-cont .home-content p {
  font-size: larger;
  line-height: 32px;
  text-align: justify;
  margin: .4rem 1rem;
  font-family: "Open Sans", serif;
  padding: .4rem;
}

.home-content button {
  background-color: #333;
  padding: .8rem 1rem;
  margin: 1rem;
  border: 1px solid #fff;
}

.home-content button > a {
  color: #fff;
  text-decoration: none;
}
/* Responsive home */
@media (max-width: 800px) {
  .home-cont { grid-template-columns: 1fr; padding: 10rem 0 0 0; }
}

@media (max-width: 650px) {
  .home-cont { padding: 4rem 0 0 0; }
}

@media (max-width: 500px) {
  .home-cont { padding: 6rem 0 0 0; }
}

/* End of styles for the home Page */
/* Styles for about page */

.about-cont { width: 100%; height: 100%; position: relative; }

.section {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%; height: 200px;
  max-width: 100%;
  background-image: url('../public/assets/blueeyes.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section .wrapper {
  position: relative; display: flex;
  flex-direction: column; align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%; max-width: 100%; height: 200px;
}

#rose { position: absolute; right: 2%; top: 32%; }

#dark { position: absolute; left: 3%; top: 62%; }

#flower { position: absolute; right: 1%; top: 82%; }

#rose img, #dark img, #flower img {
  width: 120px; height: 120px;
  border-radius: 50%; z-index: 0;
}

h1 {
  padding: .2rem 0; margin: .2rem 0;
  font-family: "Playfair Display", serif;
  font-size: xx-large; color: #fff;
  text-decoration: underline overline;
  text-underline-offset: 11px;
  letter-spacing: 1.5px;
}

h4 {
  padding: .2rem 0; margin: .2rem 0;
  font-family: "Montserrat", serif;
  font-size: small; color: #fff;
  letter-spacing: 1.3px;
}
.about-main { margin: 0 10%;}

.about-main h2, .main-services h2, footer h2 {
  margin: .8rem 0; letter-spacing: 1.4px;
  font-family: "Montserrat", serif;
}

.about-main p, .main-services p, .test p {
  margin: 1rem 8%;
  font-size: larger;
  text-align: justify;
  line-height: 32px;
  font-family: "Open Sans", serif;
}

/* Responsive About page */

@media (max-width: 800px) {
  #rose, #dark, #flower {
    position: relative;
    display: flex; align-items: center;
    justify-content: center;
  }
  #rose img, #dark img, #flower img {
    width: 80%; height: 80%; border-radius: 0;
    margin-bottom: .5rem;
  }
}

@media (max-width: 800px) {
  .about-main { margin: 0 8%; }
}

@media (max-width: 650px) {
   .about-main { margin: 0 4%; }
   .about-main p, .main-services p, .test p {
    font-size: medium; line-height: 28px;
   }
}

@media (max-width: 500px) {
  .about-main { margin: 0 2%; }
}

/* end of styles for about page */

/* Styles for Service page */

.main-services .wrapper {
  display: grid; grid-template-columns: repeat(3, 1fr);
}

.main-services .wrapper .cards { background-color: #F3E5AB; }

.main-services .cards img {
  width: 100%; height: 100%;
}

.main-services .cards h2 { text-align: center; }
/* Repsonsive Service */

@media (max-width: 850px) {
  .main-services .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .main-services .wrapper { grid-template-columns: 1fr; }
}

/* End of styles for Service Page */

/* Styles for Testimonals Page */

.main-test {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
}

.main-test .test {
  background-color: rgba(255, 107, 107, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: auto;
  padding: 1rem;
}

.main-test .test img {
  width: 150px;
  height: 150px;
  border: 1rem solid #fff;
  border-radius: 50%;
  transform: translateY(-60%);
}

.test .icons {
  font-size: 3rem; color: #D3D3D3;
  transform: translateY(-120%);
}

.test p {
  transform: translateY(-40%);
}

.test h2 {
  font-size: larger;
  font-family: "Montserrat", serif;
  text-transform: uppercase;
  padding: .4rem 0;
  margin: .4rem 0;
  color: #D3D3D3;
  transform: translateY(-100%);
}

.prev {
  position: absolute;
  top: 15%;
  left: 35%;
}

.next {
  position: absolute;
  top: 15%;
  right: 35%;
}

.left, .right {
  font-size: 3rem;
  color: #D3D3D3;
  cursor: pointer;
}

/* Responsive Test */

@media (max-width: 900px) {
  .main-test .test { width: 80%; }
  .prev {left: 25%;}
  .next {right: 25%;}
}

@media (max-width: 650px) {
  .next, .prev {
    top: 20%;
  }
  .test .icons {
    font-size: 2.5rem; transform: translateY(-100%);
  }
  .test p {
    transform: translateY(-20%);
  }

}

/* End of Styles for Testimonials Page */

/* Styles for Contact Page */

.contact-main .wrapper {
  background-color: #D3D3D3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center; justify-content: center;
}

.contact-main .call > div {
  background-color: rgba(255, 107, 107, 1);
  width: 60%; min-height: 150px;
  display: flex; align-items: center;
  justify-content: center; flex-direction: column;
  border: 2px solid #333333;
  border-radius: 1rem;
  margin: .8rem auto;
}

.contact-main .call > div > .icons {
  font-size: 2.5rem;
  color: #D3D3D3;
}

.contact-main .call > div h3 {
  font-family: "Montserrat", serif;
  letter-spacing: 1.4px;
  margin: .4rem 0;
}

.contact-main .call > div p, footer .about p {
  margin: 0 1rem;
  font-size: medium;
  text-align: justify;
  line-height: 32px;
  font-family: "Open Sans", serif;
}

.contact-main .wrapper .map {
  width: 100%; height: 80vh;
}

.contact-main .wrapper .map iframe {
  width: 100%; height: 100%;
  margin: .4rem; outline: none;
  border: none; border-radius: .3rem;
}
/* Responsive Contact */
@media (max-width: 900px) {
  .contact-main .wrapper {
    grid-template-columns: 1fr;
  }
  .contact-main .wrapper .map {
    display: flex; align-items: center;
    justify-content: center;
    margin: .4rem 0;
  }
  .contact-main .call > div h3 {
    font-size: medium;
  }
  .contact-main .call > div p {
    font-size: small;
  }
}

/* End of styles for Contact Page */

/* Styles for the Footer */

footer {
  background-color: rgba(255, 107, 107, 1);
  display: flex;
  align-items: flex-start; justify-content: center;
}

footer .about {
  width: 50%;
}

footer .social .icons {
  font-size: 2rem;
  margin: .4rem .8rem;
  color: #333333;
  cursor: pointer;
}

@media (max-width: 650px) {
  footer { flex-direction: column; align-items: center; justify-content: center; }
  footer .about p { font-size: medium; margin: 0 -3rem; }
}

/* End of styles for the Footer */